.container {
  height: 65vh;
  background-color: var(--yellow-light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 98px;
  margin-right: 98px;
}

.email_input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.msg_1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 75.84px;
  color: var(--red-bold);
}
.msg_2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--yellow-medium);
}

.finger_container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  left: 2.5em;
  bottom: 0.5em;
}

.finger {
  width: 135%;
}
