.enroll-now-container {
  height: 65vh;
  background-color: #ffe895;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.en-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 98px;
  margin-right: 98px;
}

.email-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.email-input-container .message-1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 75.84px;
  color: #ca0014;
}

.email-input-container .message-2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #bf5c00;
}

.index-finger-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  left: 2.5em;
  bottom: 0.5em;
}

.index-finger-container img {
  width: 135%;
}
