.container {
  width: 21em;
  height: 36em;
  background-color: #FF9F47;
  /* display: flex; */
  border-radius: 30px;
  margin: 0 0.5em 0 0.5em;
  position: relative;
}

.container:hover {
  transform: scale(1.1);
  transition: 0.25s;
  transition-timing-function: ease-in;
  z-index: 1;
}

.text {
  color: white;
  font-weight: 500;
  padding: 2.5em;
}

.text>h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

.text>p {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 400;
}

.text>button {
  border: .17em solid white;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: 500;
  /* padding: 0.5em 100%; */
  padding: 0.4em 4.5em;
  position: relative;
  bottom: -1.5em;
}

.text>button:hover {
  background-color: #0191CB;
}

.container>img {
  width: auto; 
  height: 40%; 
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 992px) {

  .container {
    width: 22em;
    height: 11em;
  }

.text {
  padding: 0.9em;
}

.text>h1 {
  font-size: 0.9em;
}

.text>p {
  font-size: .5em;
}

.container>img {
  width: 7.5em; 
  height: 11em; 
}
}
