.container {
  background-color: #FFCA84;
  /* background-color: white; */
  height: 70vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.email_page_container{
  width:50%;
  margin-left:7.5em;
}
.container h1{
  font-weight: 700;
  font-size: 2.8em;
  color: #EE0017;
  line-height: .9em;
}
.container p{
  color: #BF5C00;
  font-size: 20px;
  font-weight: 600;
  margin-top:20px;
}
.pic{
  height:400px;
  position:relative;  
  right: 5em;
  bottom: 0;
}
.form {
  display: flex;
  max-width: 100%;
  margin-top: 1em;
}

.input {
  width: 65%;
  border: 3px solid #E57D1D;
  border-radius: 15px;
  padding-left: 15px;
  font-size: 15px;
}

.input:focus {
  outline: none !important;
  border: 1px solid var(--border-yellow);
}

.btn {
  background-color: var(--yellow-semi-medium);
  width: 10%;
  height: 50px;
  margin-left: 0.6em;
  border-radius: 15px;
  color: #ffffff;
  font-size: 0.85em;
  font-weight:600;
}
