.container {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  color: #DB6900;
  font-size: 1.8em;
  font-weight: 600;
  margin: 0.8em 0;

}

.videoContainer {
  position: relative;
  margin-bottom: 10em;
  
}

.video {
  width: 100%;
  height: 100%;
}


