.features {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  position: relative;
  top: -4em;
}

.feature_container {
  width: 20em;
  height: 30em;
  border-radius: 20px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  padding: 1.5em;
  padding-bottom: 1.2em;
  box-shadow: 0 0 white, 0 0 white, 0 5px 5px -2px rgb(100, 100, 100);
}

.description {
  color: white; 
  padding-top: 0.8em;
  margin: 0.8em;
  text-align: center;
}

.description > h1 {
  font-size: 1.5em;
  font-weight: 400; 
  margin-top: 1em;
}

.description > p {
  font-size: 1.1em;
  font-weight: 400; 
  margin-top: 1.2em;
}

/* Change for icon */
.feature_container > img { 
  /* max-width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  width: 6em;
  height: 6em;
  margin: 2.4em auto 0;
} 

@media only screen and (max-width: 768px) {
  .feature_container {
    width: 12em;
    height: 17em;
  }
  
  .description {
    margin: 0.8em;
  }
  
  .description > p {
    font-size: 0.6em;
  }

}

@media only screen and (max-width: 600px) {
  .feature_container {
    width: 11.5em;
    height: 17.5em;
  }

  .description {
    margin: 0.8em;
  }
  
  .description > p {
    font-size: 0.6em;
  }
  
}