
/* container for the "features" subsection */
.features {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  position: relative;
  top: -4em;
}

/* container for individual features */
.feature_container {
  width: 15em;
  height: 19em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  color: white; 
  font-weight: 500; 
  padding-top: 2em;
  margin: 1em;
}

.description > p {
  font-size: 0.5em;
  text-align: center;
}

.feature_container > img {
  max-width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}