.container {
  max-width: 1170px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
}

#footer_logo {
  max-width: 150%;
  height: 70px;
  padding-left: 7ex;
}

.msg {
  font-size: 14px;
  color:#EE0017;
  flex-basis: 60%;
}

.social_media_container {
  min-width: 20%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.icon {
  display: flex;
  margin: 0.35em;
  color:#EE0017;
  font-size: 25px;
}
