.container {
  width: 100%;
  background-color: var(--yellow-semi-regular);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  min-width: 80%;
  display: flex;
}

.logo_container {
  margin-left: 4.5em;
  border-right: 2px solid var(--white-light);
}

.img {
  width: 90%;
}

.social_media_container {
  min-width: 20%;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.sm_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.msg {
  color: var(--white-light);
  font-weight: 500;
  font-size: 15px;
}

.links {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.icon {
  display: flex;
  margin: 0.8em;
  color: var(--white-light);
  font-size: 2vw;
}
