.main-footer {
  width: 100%;
  background-color: #f7ab48;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  /* padding: 30px; */
  /* margin-left: 10px; */
}

.coder-academy-logo {
  /* width: 100%; */
  min-width: 70%;
  display: flex;
  justify-content: flex-start;
}

.img-logo-container {
  margin-left: 42px;
  min-width: 10%;
}

.img-logo-container img {
  /* margin-left: 42px; */
  width: 100%;
}

.divider {
  border-left: 3px solid #ffffff;
  width: 90%;
}

.social-media-container {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding: 20px; */
}

.sm-content {
  min-width: 30%;
}

.sm-content p {
  width: 100%;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.links li {
  min-width: 2%;
  /* background-color: #f7ab;
  border: 2px solid; */
  margin: 0;
  padding: 0;
}

.icon {
  margin: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

/* .social-media-container p {
  color: #ffffff;
  font-family: "Rubik";
  text-align: center;
  margin-bottom: 5px;
  min-width: 100%;
  width: 100%;
} */

/* .links-container {
  min-width: 10%;
  background-color: #f7ab48;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 100%;
}

.social-media-container .icon {
  width: 100%;
  margin: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

.icon:hover {
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px #ffffff;
} */
