.main-footer {
  width: 100%;
  background-color: #f7ab48;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  /* padding: 30px; */
  /* margin-left: 10px; */
}

.coder-academy-logo {
  /* width: 100%; */
  min-width: 70%;
  display: flex;
  justify-content: flex-start;
}

.coder-academy-logo img {
  margin-left: 42px;
  width: 300px;
}

.coder-academy-logo .divider {
  border-left: 3px solid #ffffff;
}

.social-media-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding: 20px; */
}

.social-media-container p {
  color: #ffffff;
  font-family: "Rubik";
  text-align: center;
  margin-bottom: 5px;
  min-width: 100%;
  width: 100%;
}

.social-media-container .links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 100%; */
}

.social-media-container .icon {
  margin: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

.icon:hover {
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px #ffffff;
}
