.container {
  width: 100%;
  background-color: var(--yellow-semi-regular);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer_logo {
  border-right: 2px solid var(--white-light);
  min-width: 100px;
  max-width: 40%;
}

.social_media_container {
  min-width: 20%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.msg {
  color: var(--white-light);
  font-weight: 500;
  font-size: 15px;
}

.links {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.icon {
  display: flex;
  margin: 0.8em;
  color: var(--white-light);
  font-size: 2vw;
}
