.footer-container {
  height: 35vh;
  width: 100%;
  background-color: #f7ab48;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.f-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.coder-academy-logo {
  min-width: 80%;
  display: flex;
}

.img-logo-container {
  margin-left: 4.5em;
}

.img-logo-container img {
  width: 90%;
}

.divider {
  border-left: 3px solid #ffffff;
  width: 100%;
}

.social-media-container {
  min-width: 20%;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.sm-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sm-content .message {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}

.links {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.icon {
  display: flex;
  margin: 0.8em;
  color: #ffffff;
  font-size: 2vw;
}
