.headingcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    margin-top: 1em;
}

.heading {
    color: #DB6900;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.paragraph {
    color: #8F8F8F;
    font-size: 0.9em;
    font-weight: 400;
    padding-left: 18em;
    padding-right: 18em;
    text-align: center;
}

.list {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.content {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.content > button {
    padding: 1em;
    display: none;
}


@media only screen and (max-width: 992px) {
    .headingcontainer {
        margin-top: 0.7em;
    }

    .paragraph {
        padding-left: 14em;
        padding-right: 14em;
        font-size: 0.8em;
    }
      
    .heading {
        font-size: 1.1em;
        margin-bottom: 0.4em;
    }
    
  }
  
  @media only screen and (max-width: 768px) {

    .headingcontainer {
        margin-top: 0.3em;
    }

    .paragraph {
        padding-left: 10em;
        padding-right: 10em;
        font-size: 0.7em;
    }
      
    .heading {
        font-size: 1em;
        margin-bottom: 0.3em;
    }
    
    .content > button {
        padding: 1em;
        display: flex;
        align-items: center;
    }
  }
  
  @media only screen and (max-width: 600px) {

    .headingcontainer {
        margin-top: 0em;
    }
    
    .paragraph {
        padding-left: 6em;
        padding-right: 6em;
        font-size: 0.6em;
    }
      
    .heading {
        font-size: 0.9em;
        margin-bottom: 0.2em;
    }
    
  }