/* align to center by default for mobile-first rendering */
.container {
  min-height: 85vh;
  background-image: url("../../assets/hero-bg.jpg");
  background-position: right center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.logo {
  width: 200px;
}

.intro {
  margin-top: 0.5em;
  font-weight: 300;
  font-size: 2.3em;
}

.description {
  color: var(--yellow-regular);
  margin-top: 0.3em;
  font-size: 1.5em;
  font-weight: 400;
}
