/* align to center by default for mobile-first rendering */
.container {
  overflow: hidden;
  min-height: 85vh;
  background-image: url("../../assets/hero-bg.jpg");
  background-position: 50% 44%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  text-align: center;
}
.container{
  text-align: right;
  align-items: flex-end;
  padding-left: 48em;
  padding-right: 8em;
}

.description{
  font-size: 14px;
  padding-left: 8em;
  color: #424242;
  font-weight: 600;
}
.intro{
  font-weight: 700;
  color: #EE0017;
  margin-top: 0.5em;
  font-size: 3.5em;
  line-height: .9em;
}
.since {
  font-size: 1.8em;
  margin-bottom: 1em;
  color: #EE0017;
  font-weight: 700;
}



