/* align to center by default for mobile-first rendering */
.container {
  overflow: hidden;
  min-height: 90vh;
  background-image: url("../../assets/hero-bg.jpg");
  background-position: 50% 44%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  text-align: right;
  align-items: flex-end;
  padding-left: 28%;
  padding-right: 16%;
  color: #EE0017;
}

.intro{
  padding-bottom:em;
  font-weight: 900;
  font-size: 4.5em;
  line-height: .9em;
}

.since {
  font-size: 2em;
  margin-bottom: 1.5em;
  font-weight: 700;
}

.description{
  font-size: 16px;
  align-items: center;
  color: #424242;
  font-weight: 600;
  padding-left: 25em;
}


@media only screen and (max-width: 992px) {

  .container {
    padding-left: 25em;
    padding-right: 5.4em;
  }

  .intro{
    font-size: 3.3em;
  }

  .since {
    font-size: 1.3em;
  }

  .description {
    font-size: 12px;
  }
}

@media only screen and (max-width: 786px) {

  .container {
    padding-left: 4em;
    padding-right: 4em;
    align-items: center;
    text-align: center;
  }

  .intro{
    font-size: 3em;
  }

  .since {
    font-size: 1em;
  }

  .description {
    font-size: 12px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {

  .container {
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    text-align: center;
  }

  .intro{
    font-size: 3em;
  }

  .since {
    font-size: 1em;
  }

  .description {
    font-size: 12px;
    padding-left: 0;
  }
  
}