.hero-shot-container {
  background-image: url("../../assets/hero-bg.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.content {
  margin: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

.content #hero__logo {
  width: 70%;
}

.content h1 {
  font-weight: 300;
  font-size: 3.5vw;
  padding-right: 1.5em;
}

.content h3 {
  color: #7b5828;
  padding-top: 0.5em;
  padding-right: 2.7em;
  font-size: 2vw;
  font-weight: 400;
}
