.container {
  background-color: var(--white-medium);
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 181px;
}

.container > h1 {
  padding-top: 61px;
  color: var(--yellow-bold);
  font-weight: 600;
  font-size: 52px;
}

.container > p {
  color: var(--orange-light);
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 77px;
}
