.container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.form {
  display: flex;
  max-width: 100%;
}

.input {
  width: 100%;
  border: hidden;
  border-radius: 15px;
  padding-left: 15px;
  font-size: 15px;
}

.input:focus {
  outline: none !important;
  border: 1px solid var(--border-yellow);
}

.btn {
  background-color: var(--yellow-semi-medium);
  width: 15%;
  height: 41px;
  margin-left: 16px;
  border: hidden;
  border-radius: 15px;
  color: #ffffff;
  font-size: 15px;
}
