.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  transition: 0.5s all;
  transition-timing-function: ease-out;
}

.containerScrolled {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #FF9F47;
  opacity: 1;
  color:  white;
  transition: 0.75s all;
  transition-timing-function: ease-in;
  z-index: 1;
}

.logo {
  width: 80px;
  margin-left: 7em;
  margin-bottom: 0.5em;
}

.items {
  display: flex;
  list-style: none;
  margin-right: 5em;
}

.item {
  margin: 3em;
  font-size: 12px;
  font-weight: 600;
}

.item:hover {
  color: red;
}