.container {
  overflow: auto;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.navitems {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 5em;
  padding-left: 25em;
}

.logo {
  width: 80px;
  margin-left: 5em; 
  margin-right: 10em;
}

.items {
  display: flex;
  align-items: center;
  list-style: none;
}

.item {
  margin: 3em;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
  white-space: nowrap;
}