.nav-bar-container {
  height: 4em;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nb-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4em;
  margin-right: 4em;
}

.nb-content img {
  width: 110px;
}

.nb-content ul {
  display: flex;
  list-style: none;
}

.nb-content .item {
  margin-left: 5em;
  color: #ff7a00;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  text-decoration: none;
}
